<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">My Angular6 App</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active" ><a routerLink="about-us">About Us</a></li>
        <li routerLinkActive="active" ><a routerLink="registration">Registration</a></li>
        <li routerLinkActive="active" ><a routerLink="my-account" >My Account</a></li>
        <li routerLinkActive="active"><a routerLink="login">Login</a></li>
        <li routerLinkActive="active" ><a routerLink="contact-us">Contact Us</a></li>
      </ul>
    </div>
  </nav>